@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  


}
body{
    background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* classes auxiliares*/
.container{
  width: 50dvw;
  text-indent: 10%;
  display: flex;
  flex-direction: column;
  transform: translate(50%);

}
/* classes do site */

/*1ª página */
.inicio{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transform: translateY(250%);
  
}
.inicio a{
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  cursor: pointer;
  
  
}
a:hover{
  color: #0c130e;
}
/*1ª página */
/*2ª página */
.cincor{
  text-align: center;
  font-family: 'Roboto',sans-serif;
  
  
}
.cincor ul{
  padding: 1dvi;
  margin-left:1dvi;
  margin-right:1dvi;
  text-align: justify;
  font-style: italic;
  font-weight: bold;

}
/*2ª página */
/*3ª página */
.ti-verde{
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#tiverde{
  margin: 2dvh;
  margin-left: 8dvw;
  margin-right: 8dvw;
  text-indent: 15%;
}
#imgti{
  width: 80%;
  padding: 3dvi;
  
  
}
.ti-verde ul {
  margin: 2dvw;
  margin: 3dvh;
  text-align: justify;
  font-style: italic;
  font-weight: bold;
}
/*4ª página*/
.esg{
  text-align: center;
  font-family: 'Roboto',sans-serif;
}
#esg{
  margin: 2dvh;
  margin-left: 8dvw;
  margin-right: 8dvw;
  text-indent: 10%;
}
#imgesg{
  width: 80%;
  padding: 3dvi;
}
.esg ul{
  margin: 2dvw;
  margin: 3dvh;
  text-align: justify;
  font-style: italic;
  font-weight: bold;
  tex
}
